<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/classf/all.css")
  link(rel="stylesheet", href="css/styles.css")
  title Classf
body.cf.rgb.bg.bgb100.bgg200.text.mdsize13.txtr255.txtg255.txtb255
  header.cf.grid.sm3.cols
    .cf.cell.span.sm3
      h1.cf.text.center Bienvenido a Classf Alfa
  .cf.grid.sm2.cols.bg.rgb.bgb50.bgg100.mleft5.mright5.mbuttom5
    .cf.cell
      p.cf.text.justify Classf es un framework con el objetivo de dar toda la livertad posible a quien lo use.
    .cf.cell
      p.cf.text.justify Hace uso de las ultimas "novedades" en css como Grid o Custom Properties (variables).
    .cf.cell.span.sm2
      p.cf.text.justify Está echo para ser facil, legible, rapido, responsivo y minimalista. Recomendado como <b>base</b> para tus proyectos.
