.#{$main}.pos.container {
  position: relative;
  .#{$main}.pos.set {
    position: absolute;
    @for $i from 0 through 20 {
      @include Pos(x,left,$i * 5);
      @include Pos(y,top,$i * 5);
    }
  }
  .#{$main}.pos.align {
    position: absolute;
    --x: 0%;
    --y: 0%;
    transform: translate(var(--x),var(--y)) ;
    &.middle {
      top: 50%;
      --y: -50%;
    }
    &.buttom {
      bottom: 0;
    }
    &.top {
      top: 0;
    }

    &.center {
      left: 50%;
      --x: -50%;
    }
    &.#{$main}eft {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}
