// Mapa con media querys estandar
$mqs: (
  sm:375px,
  md:426px,
  lg:769px,
  xl:1025px
);

// Mapa con media querys minimos y maximos
$mqs-maps:(
  sm:(
    max:425px
  ),
  md:(
    min:426px,
    max:768px
  ),
  lg:(
    min:769px,
    max:1024px
  ),
  xl:(
    min:1025px
  )
);

// Selector Prinsipal
$main: cf;
