.#{$main}.bg{
  &.rgb{
    background-color: rgb(var(--bgr),var(--bgg),var(--bgb));
    --bgr: 0;
    --bgg: 0;
    --bgb: 0;
    @each $color in r, g, b {
      @for $i from 0 through 255 {
        &.bg#{$color}#{$i} {
          --bg#{$color}: #{$i};
        }
      }
    }
  }
  &.hsl{
    background-color: hsl(var(--bgh),var(--bgs),var(--bgl));
    --bgh: 0;
    --bgs: 0;
    --bgl: 0;
    @each $color in h, s, l {
      @for $i from 0 through 255 {
        &.bg#{$color}#{$i} {
          --bg#{$color}: #{$i};
        }
      }
    }
  }
}
