.#{$main}.text.rgb{
  color: rgb(var(--txtr),var(--txtg),var(--txtb));
  --txtr: 0;
  --txtg: 0;
  --txtb: 0;
  @each $color in r, g, b {
    @for $i from 0 through 255 {
      &.txt#{$color}#{$i} {
        --txt#{$color}: #{$i};
      }
    }
  }
}
